<h1>Movie Twitics</h1>
<table>
  <tr>
    <th></th>
    <th>Movie Name</th>
    <th>Critic Score</th>
    <th>User Score</th>
    <th>What is your feeling baby?</th>
  </tr>
<% @box_office_movies.each do |movie| %>
  <tr>
    <td>
      <img src="<%= movie['thumbnail'] %>">
    </td>
    <td>
      <a href="movies/<%= movie['id'] %>"><%= movie['name'] + ' (' + movie['year'].to_s + ')' %></a>
    </td>
    <td>
      <%= movie['critic_score'] %>
    </td>
    <td>
      <%= movie['user_score'] %>
    </td>
    <td>
      Sentinment here.
    </td>
  </tr>
<% end %>
</table>
