<% @box_office_movies.each do |movie| %>
  <div class="movie-item">
    <div class="movie-thumbnail">
      <img src="<%= movie.poster_thumbnail %>">
    </div>
    <div class="movie-title"> 
      <a href="movies/<%= movie.id %>">
        <%= movie.title %>
      </a>
    </div>
    <div class="movie-information">
      LALALA
    </div>
    <div class="score-section">
      <div class="sentiment-score">
        <div class="score-value">
          <%= movie.sentiment %>
        </div>
        <span class="score-type">
          Sentiment 
        </span>
      </div>
      <div class="user-score">
        <div class="score-value">
          <%= movie.user_score %>
        </div>
        <span class="score-type">
          User
        </span>
      </div>
      <div class="critic-score">
        <div class="score-value">
          <%= movie.critic_score %>
        </div>
        <span class="score-type">
          Critic
        </span>
      </div>
    </div>
  </div>
<% end %>
